<!DOCTYPE html>
<html ng-app="photoStream">
<head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/photo-stream.css"></link>
</head>
<body ng-controller="PhotoController as loader">
  <div id="img-container">
  	<div id="{{photo._id}}" class='image-wrapper' ng-repeat="photo in loader.photos | orderBy:'-created_at'">
  		<div class="delete" ng-click="loader.deleteImage(photo._id)">
  			<i class="fa fa-times"></i>
  		</div>
  		<img ng-src="{{'/db/files/'+ photo._id}}"/>
  		<div class="image-label">
  			{{photo.created_at | date: 'MM/dd/yyyy, h:mma'}}
  		</div>
  	</div>
  </div>
  <div id="confirm-delete" ng-hide="loader.deleteId == ''">
  	<h3>Are you sure you want to delete this image?</h3>
  	<button ng-click="loader.confirmDelete(true)">Yes</button>
  	<button ng-click="loader.confirmDelete(false)">No</button>
  </div>
  <div class="toast" ng-hide="loader.toastMessage == ''">{{loader.toastMessage}}</div>
  <script src='js/photo-stream.js'></script>
</body>
</html>