<div class="faux-meta" ng-class="{glow:transmitAll}" group-call ng-show="shouldShow">
	<div id="get-all" class="faux-bubble">
		<div><i class="fa fa-bullhorn"></i></div>
	</div>
	<div class="meta-label" ng-class="{show:showMeta}">{{bullhornMessage}}</div>
	
</div>

<!-- <div class="faux-meta" ng-click="createGroup()">
	<div id="create-group" class="faux-bubble">
		<div><i class="fa fa-users"></i></div>
	</div>
	<div class="meta-label" ng-class="{show:showMeta}">Create Group</div>
</div> -->

<div class="faux-meta" ng-class="{glow:peer.callStatus != 0}" peer="peer" ng-repeat="peer in allPeers track by peer.id" users-connected>
	<div class="faux-bubble" ng-class="{selected:peer.selected}">
		<div>{{getInitial(peer.displayName)}}</div>
	</div>
	<div class="meta-label" ng-class="{show:showMeta}">{{peer.callStatusLabel}}</div>
</div>

<div class="faux-meta refresh" ng-class="{expand:showMeta, glow:refreshMessage != 'Refresh'}" ng-click="refreshConnection()">
	<div class="faux-bubble">
		<div><i class="fa fa-refresh" ng-class="{'in-progress':refreshMessage != 'Refresh'}"></i></div>
	</div>
	<div class="meta-label" ng-class="{show:showMeta}">{{refreshMessage}}</div>
</div>
<!-- <div class="faux-meta" ng-repeat="group in allGroups track by $index" ng-mouseover="pinAndHold(group)" ng-mouseleave="pauseThenEval(group)" ng-click="determineClick(group)">
	<div class="faux-bubble group">
		<div><i class="fa fa-user"></i>{{group.count}}</div>
	</div>
	<div class="meta-label" ng-class="{show:showMeta}">Group of {{group.count}}</div>
</div> -->
